html, body{
    width: 100%;
    height:100%;
    margin:0;
    padding:0;
    background: linear-gradient(#009ACF,#2ae386);
    background-repeat: no-repeat;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.scoreBlock{
    color: white;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
#canvas{
    width: 600px;
    height: 350px;
    background-image: url("46888871-624a3900-ce7f-11e8-808e-99fd90c8a3f4.png");
}